:root {
  --primary-color: #5989f0;
  --purple-color:#7489ff;
  --font-color-purple:#384ec7;
  --question-color:#0c9d61;
  --danger-color:#ff7f7f;
}
html, body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

